* {
  font-family: "Inter", sans-serif;
}

p {
  font-weight: 600;
  font-size: 14px;
}

.container-fluid {
  padding: 1% 15%;
}

/* HEADER SECTION */
.colored-section {
  background-color: rgb(255, 251, 241);
}

#header {
  height: 80%;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.25rem;
}

#header .navbar-toggler-icon {
  background-image: url(Assets/Hamburger\ Menu.svg);
  border: none;
  width: 1.5rem;
}

#header .nav-link {
  color: #000;
  font-weight: 500;
  font-size: 0.8rem;
}

#header .nav-link:hover {
  color: rgb(122, 12, 224);
  font-weight: 500;
  font-size: 0.8rem;
}

.btn-sign {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 10px 20px;
}

.sign-up {
  background-color: rgb(122, 12, 224);
  color: white;
}

.sign-up:hover {
  background-color: white;
  border-color: rgb(122, 12, 224);
  color: rgb(122, 12, 224);
}

.sign-in:hover {
  background-color: black;
  color: white;
}

.row-link {
  display: flex;
  justify-content: space-between;
}

.example {
  color: rgb(122, 12, 224);
  font-weight: 700;
  font-size: 1rem;
  text-decoration: underline;
  margin-left: -50px;
}

/* TITLE */
#header .container {
  padding: 0 5%;
}

#header .container-fluid {
  padding: 2% 13%;
  text-align: left;
}

#header .title-row {
  padding: 10% 5%;
  display: flex;
  justify-content: space-between;
}

.big-heading {
  font-weight: 700;
  font-size: 2.5rem;
}

.title-text {
  margin-top: 50px;
}

.title-img {
  width: 110%;
  margin-top: -50px;
}

.title-subheading {
  color: rgb(150, 150, 150);
  font-weight: 500;
}

.title-subheading img {
  width: 1rem;
}

/* ABOUT */
#about .container-fluid {
  padding: 5% 15%;
}

#about .why {
  color: rgb(122, 12, 224);
  font-weight: 700;
}

.about-title {
  font-weight: 700;
  font-size: 1rem;
  margin-top: 3px;
  color: #000;
  text-decoration: none;
}

.about-subtitle {
  color: rgb(150, 150, 150);
  font-weight: 500;
  font-size: 15px;
  margin-top: 3px;
}

#about h4 {
  font-weight: 700;
  font-size: 30px;
  margin: 20px auto;
}

#about .div-text {
  font-weight: 400;
  font-size: 15px;
  color: rgb(235, 235, 235);
}

.btn-start {
  background-color: white;
  color: rgb(122, 12, 224);
  border-color: rgb(122, 12, 224);
  padding: 15px 25px;
}

.about-img {
  width: 2rem;
}

#about .container {
  background-color: rgb(125, 4, 238);
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 3% 3% 0;
  color: #fff;
}

.page-img {
  width: 100%;
}

.revenue {
  font-size: 12px;
  margin-top: -20px;
}

.avatar {
  border-radius: 25%;
  width: 45px;
}

.btn-review {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8rem;
  border-color: rgb(209, 209, 209);
  padding: 3%;
}

.btn-review:hover {
  color: white;
  background-color: rgb(122, 12, 224);
}

/* FOOTER */
.footer-subtitle {
  color: rgb(150, 150, 150);
  font-weight: 500;
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 2px;
}

#footer .row {
  margin-bottom: 20px;
}

/* SIGN UP */
.signup-title {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

#sign-form .container-fluid {
  padding: 2% 10%;
}

#form {
  padding-right: 80px;
}

.label {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.input-group-text {
  background: transparent;
  border-left: none;
  color: rgb(117, 117, 117);
}

.form-check-label,
.form-check-label .example {
  font-weight: 500;
  font-size: 15px;
  margin-left: 5px;
}

.btn-create {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: rgb(122, 12, 224);
  color: #fff;
  padding: 3%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.have-acc {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.signin {
  color: rgb(122, 12, 224);
}

.colored {
  background-color: rgb(122, 12, 224);
}

.colored .container-fluid {
  margin-top: 15%;
}

.car-text {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  margin: 20px auto 0;
}

.car-subtext {
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 30px;
}

.carousel-control-prev,
.carousel-control-next {
  padding-left: 50px;
  padding-right: 50px;
}

.carousel .carousel-indicators button {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

@media (max-width: 990px) {
  #form {
    padding-right: 0;
  }

  .have-acc {
    text-align: center;
  }

  #color-section {
    display: none;
  }
}

@media (max-width: 990px) {
  #header .nav-item .sign-up {
    color: #000;
    font-weight: 500;
    font-size: 0.8rem;
    background-color: transparent;
    padding: 0;
  }

  #header .nav-item .sign-up:hover {
    color: rgb(122, 12, 224);
    border: none;
    padding: 0;
  }

  #header .sign-in {
    color: #000;
    font-weight: 500;
    font-size: 0.8rem;
    background-color: transparent;
    padding: 0;
    margin-bottom: 0.8rem;
  }

  #header .sign-in:hover {
    color: rgb(122, 12, 224);
    border: none;
    padding: 0;
  }

  #header .title-img {
    margin-top: 10px;
  }

  .title-row .sign-up {
    display: block;
  }

  #header .title-row {
    padding: 10% 5%;
    display: flex;
    flex-direction: column-reverse;
  }

  .rate {
    display: none;
  }

  .example {
    transform: translate(-50%);
    margin-left: 50%;
    margin-top: 10px;
    padding: 0;
  }

  #about .page-img {
    margin-top: 30px;
  }

  #about .card {
    margin-bottom: 2rem;
  }

  #footer .col-lg-2 {
    margin-top: 20px;
  }

  #title {
    display: flex;
    flex-direction: row-reverse;
  }
}
